@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Segoe UI Variable", "Segoe UI", Inter, system-ui, sans-serif;
  font-feature-settings: "ss01" on, "ss02" on;
  -webkit-font-smoothing: antialiased;
}
